*{
    box-sizing: inherit;
}

body{
    display: flex;
    justify-content: center;
    font-style: normal;
}

.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 42px;
    letter-spacing: -0.011em;
}

p,ul{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.003em;
    margin-top: 2em;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    word-break: break-word;
    font-style: normal;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:link{
    color: rgba(41, 41, 41, 1);
    text-decoration: underline;
}

a:visited{
    color: rgba(41, 41, 41, 1);
}

h2{
    font-size: 26px;
}

h3{
    font-size: 22px;
}

ul{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.003em;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

img{
    height: auto;
    max-width: 100%;
    background-color: white;
    vertical-align: middle;
}

.Jemma{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.mainDiv{
    width: 100%;
    display: flex;
}
